body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Exo 2";
  src: local("Exo 2"),
  url("./fonts/Exo2-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
